* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 500px 500px;
    background-position: top;
}

.bg-black {
    flex: ;
    background-color: rgb(226, 22, 22);
    height: 50px;
}

.bg-red {
    background-color: red;
}

.fg-white {
    color: white;
}

.fg-black {
    color: black;
}